In [173]:
import pandas as pd
import numpy as np

In [174]:
df  = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [175]:
df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0

In [176]:
df['City_Code'] = [int(x[1:].strip()) for x in df['City_Code']]
test['City_Code'] = [int(x[1:].strip()) for x in test['City_Code']]

In [177]:
df['Reco_Policy_Premium']=np.log(df['Reco_Policy_Premium'])
test['Reco_Policy_Premium']=np.log(test['Reco_Policy_Premium'])

In [178]:
df['Holding_Policy_Duration'][df['Holding_Policy_Duration']=='14+']=float(15)
test['Holding_Policy_Duration'][test['Holding_Policy_Duration']=='14+']=float(15)

<ipython-input-178-bd06c3db9bed>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Holding_Policy_Duration'][df['Holding_Policy_Duration']=='14+']=float(15)
<ipython-input-178-bd06c3db9bed>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Holding_Policy_Duration'][test['Holding_Policy_Duration']=='14+']=float(15)

In [179]:
df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,3,3213,Rented,Individual,36,36,No,X1,15,3.0,22,9.361171,0
1,2,5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,10.325810,0
2,3,5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,8.915969,1
3,4,24,4378,Owned,Joint,52,48,No,X1,15,3.0,19,9.785830,0
4,5,8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,9.249946,0

In [180]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df['Accomodation_Type'])
df['Accomodation_Type']= pd.Series(le.transform(df['Accomodation_Type']))
test['Accomodation_Type']= pd.Series(le.transform(test['Accomodation_Type']))
le = LabelEncoder()
le.fit(df['Reco_Insurance_Type'])
df['Reco_Insurance_Type']= pd.Series(le.transform(df['Reco_Insurance_Type']))
test['Reco_Insurance_Type']= pd.Series(le.transform(test['Reco_Insurance_Type']))
le = LabelEncoder()
le.fit(df['Is_Spouse'])
df['Is_Spouse']= pd.Series(le.transform(df['Is_Spouse']))
test['Is_Spouse']= pd.Series(le.transform(test['Is_Spouse']))

In [181]:
df.drop(['Upper_Age'],axis=1,inplace=True)

In [182]:
df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,3,3213,1,0,36,0,X1,15,3.0,22,9.361171,0
1,2,5,1117,0,1,22,0,X2,NaN,NaN,22,10.325810,0
2,3,5,3732,0,0,32,0,NaN,1.0,1.0,19,8.915969,1
3,4,24,4378,0,1,48,0,X1,15,3.0,19,9.785830,0
4,5,8,2190,1,0,44,0,X2,3.0,1.0,16,9.249946,0

In [183]:
from sklearn.ensemble import GradientBoostingClassifier

In [184]:
misscols = ['Health Indicator','Holding_Policy_Duration']

In [185]:
miss = df.drop(misscols,axis=1)

In [186]:
miss.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Lower_Age,Is_Spouse,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,3,3213,1,0,36,0,3.0,22,9.361171,0
1,2,5,1117,0,1,22,0,NaN,22,10.325810,0
2,3,5,3732,0,0,32,0,1.0,19,8.915969,1
3,4,24,4378,0,1,48,0,3.0,19,9.785830,0
4,5,8,2190,1,0,44,0,1.0,16,9.249946,0

In [187]:
col = 'Holding_Policy_Type'

In [188]:
miss = df.drop(misscols,axis=1)
miss.isnull().sum()

ID                         0
City_Code                  0
Region_Code                0
Accomodation_Type          0
Reco_Insurance_Type        0
Lower_Age                  0
Is_Spouse                  0
Holding_Policy_Type    20251
Reco_Policy_Cat            0
Reco_Policy_Premium        0
Response                   0
dtype: int64

In [189]:
tr = miss[miss[col].notnull()]
ts = miss[miss[col].isnull()]
tr.shape,ts.shape

((30631, 11), (20251, 11))

In [191]:
X = tr.drop([col,'ID'],axis=1)
y = tr[col]
X.head()

,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Lower_Age,Is_Spouse,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,3,3213,1,0,36,0,22,9.361171,0
2,5,3732,0,0,32,0,19,8.915969,1
3,24,4378,0,1,48,0,19,9.785830,0
4,8,2190,1,0,44,0,16,9.249946,0
5,9,1785,1,0,52,0,22,9.633252,1

In [192]:
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1,max_depth=7, random_state=0).fit(X, y)
out = clf.predict(ts.drop([col,'ID'],axis=1))
y.value_counts()

3.0    13279
1.0     8173
2.0     5005
4.0     4174
Name: Holding_Policy_Type, dtype: int64

In [193]:
pd.Series(out).value_counts()

3.0    10326
1.0     6322
2.0     2328
4.0     1275
dtype: int64

In [194]:
pd.Series(out).shape

(20251,)

In [195]:
tr.isnull().sum()

ID                     0
City_Code              0
Region_Code            0
Accomodation_Type      0
Reco_Insurance_Type    0
Lower_Age              0
Is_Spouse              0
Holding_Policy_Type    0
Reco_Policy_Cat        0
Reco_Policy_Premium    0
Response               0
dtype: int64

In [196]:
ts[col].shape

(20251,)

In [197]:
ts[col]=out

<ipython-input-197-30d13fbad549>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ts[col]=out

In [198]:
ts.isnull().sum()

ID                     0
City_Code              0
Region_Code            0
Accomodation_Type      0
Reco_Insurance_Type    0
Lower_Age              0
Is_Spouse              0
Holding_Policy_Type    0
Reco_Policy_Cat        0
Reco_Policy_Premium    0
Response               0
dtype: int64

In [199]:
con = pd.concat([tr,ts])
con.shape

(50882, 11)

In [200]:
con.sort_values(by='ID',ascending=True)

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Lower_Age,Is_Spouse,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,3,3213,1,0,36,0,3.0,22,9.361171,0
1,2,5,1117,0,1,22,0,3.0,22,10.325810,0
2,3,5,3732,0,0,32,0,1.0,19,8.915969,1
3,4,24,4378,0,1,48,0,3.0,19,9.785830,0
4,5,8,2190,1,0,44,0,1.0,16,9.249946,0
...,...,...,...,...,...,...,...,...,...,...,...
50877,50878,4,845,1,0,22,0,3.0,18,8.949495,0
50878,50879,5,4188,1,0,27,0,3.0,4,8.595635,0
50879,50880,1,442,1,0,63,0,1.0,12,9.339085,0
50880,50881,1,4,0,1,49,0,2.0,16,10.246339,1
50881,50882,3,3866,1,0,24,0,3.0,18,9.343472,0

In [201]:
df[col]=con[col]

# 1 colum over

In [202]:
df.isnull().sum()

ID                             0
City_Code                      0
Region_Code                    0
Accomodation_Type              0
Reco_Insurance_Type            0
Lower_Age                      0
Is_Spouse                      0
Health Indicator           11691
Holding_Policy_Duration    20251
Holding_Policy_Type            0
Reco_Policy_Cat                0
Reco_Policy_Premium            0
Response                       0
dtype: int64

In [203]:
misscols = ['Holding_Policy_Duration']
col = 'Health Indicator'
miss = df.drop(misscols,axis=1)
miss.isnull().sum()

ID                         0
City_Code                  0
Region_Code                0
Accomodation_Type          0
Reco_Insurance_Type        0
Lower_Age                  0
Is_Spouse                  0
Health Indicator       11691
Holding_Policy_Type        0
Reco_Policy_Cat            0
Reco_Policy_Premium        0
Response                   0
dtype: int64

In [204]:
tr = miss[miss[col].notnull()]
ts = miss[miss[col].isnull()]
tr.shape,ts.shape

((39191, 12), (11691, 12))

In [205]:
X = tr.drop([col,'ID'],axis=1)
y = tr[col]
X.head()

,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Lower_Age,Is_Spouse,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,3,3213,1,0,36,0,3.0,22,9.361171,0
1,5,1117,0,1,22,0,3.0,22,10.325810,0
3,24,4378,0,1,48,0,3.0,19,9.785830,0
4,8,2190,1,0,44,0,1.0,16,9.249946,0
5,9,1785,1,0,52,0,1.0,22,9.633252,1

In [206]:
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1,max_depth=7, random_state=0).fit(X, y)
out = clf.predict(ts.drop([col,'ID'],axis=1))
y.value_counts()

X1    13010
X2    10332
X3     6762
X4     5743
X5     1727
X6     1280
X7      196
X8       78
X9       63
Name: Health Indicator, dtype: int64

In [207]:
pd.Series(out).value_counts()

X1    7868
X2    2633
X3     473
X4     450
X5     108
X6      61
X7      51
X9      27
X8      20
dtype: int64

In [208]:
pd.Series(out).shape

(11691,)

In [209]:
tr.isnull().sum()

ID                     0
City_Code              0
Region_Code            0
Accomodation_Type      0
Reco_Insurance_Type    0
Lower_Age              0
Is_Spouse              0
Health Indicator       0
Holding_Policy_Type    0
Reco_Policy_Cat        0
Reco_Policy_Premium    0
Response               0
dtype: int64

In [210]:
ts[col].shape

(11691,)

In [211]:
ts[col]=out

<ipython-input-211-30d13fbad549>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ts[col]=out

In [212]:
ts.isnull().sum()

ID                     0
City_Code              0
Region_Code            0
Accomodation_Type      0
Reco_Insurance_Type    0
Lower_Age              0
Is_Spouse              0
Health Indicator       0
Holding_Policy_Type    0
Reco_Policy_Cat        0
Reco_Policy_Premium    0
Response               0
dtype: int64

In [213]:
con = pd.concat([tr,ts])
con.shape

(50882, 12)

In [214]:
con.sort_values(by='ID',ascending=True)

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,3,3213,1,0,36,0,X1,3.0,22,9.361171,0
1,2,5,1117,0,1,22,0,X2,3.0,22,10.325810,0
2,3,5,3732,0,0,32,0,X1,1.0,19,8.915969,1
3,4,24,4378,0,1,48,0,X1,3.0,19,9.785830,0
4,5,8,2190,1,0,44,0,X2,1.0,16,9.249946,0
...,...,...,...,...,...,...,...,...,...,...,...,...
50877,50878,4,845,1,0,22,0,X3,3.0,18,8.949495,0
50878,50879,5,4188,1,0,27,0,X3,3.0,4,8.595635,0
50879,50880,1,442,1,0,63,0,X2,1.0,12,9.339085,0
50880,50881,1,4,0,1,49,0,X2,2.0,16,10.246339,1
50881,50882,3,3866,1,0,24,0,X3,3.0,18,9.343472,0

In [215]:
con.isnull().sum()

ID                     0
City_Code              0
Region_Code            0
Accomodation_Type      0
Reco_Insurance_Type    0
Lower_Age              0
Is_Spouse              0
Health Indicator       0
Holding_Policy_Type    0
Reco_Policy_Cat        0
Reco_Policy_Premium    0
Response               0
dtype: int64

In [216]:
df[col]=con[col]

In [217]:
df.isnull().sum()

ID                             0
City_Code                      0
Region_Code                    0
Accomodation_Type              0
Reco_Insurance_Type            0
Lower_Age                      0
Is_Spouse                      0
Health Indicator               0
Holding_Policy_Duration    20251
Holding_Policy_Type            0
Reco_Policy_Cat                0
Reco_Policy_Premium            0
Response                       0
dtype: int64

In [218]:
le = LabelEncoder()
le.fit(df['Health Indicator'])
df['Health Indicator']= pd.Series(le.transform(df['Health Indicator']))
df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,3,3213,1,0,36,0,0,15,3.0,22,9.361171,0
1,2,5,1117,0,1,22,0,1,NaN,3.0,22,10.325810,0
2,3,5,3732,0,0,32,0,0,1.0,1.0,19,8.915969,1
3,4,24,4378,0,1,48,0,0,15,3.0,19,9.785830,0
4,5,8,2190,1,0,44,0,1,3.0,1.0,16,9.249946,0

# 2nd one completed

In [219]:
misscols = []
col = 'Holding_Policy_Duration'
miss = df.drop(misscols,axis=1)
miss.isnull().sum()

ID                             0
City_Code                      0
Region_Code                    0
Accomodation_Type              0
Reco_Insurance_Type            0
Lower_Age                      0
Is_Spouse                      0
Health Indicator               0
Holding_Policy_Duration    20251
Holding_Policy_Type            0
Reco_Policy_Cat                0
Reco_Policy_Premium            0
Response                       0
dtype: int64

In [220]:
tr = miss[miss[col].notnull()]
ts = miss[miss[col].isnull()]
tr.shape,ts.shape

((30631, 13), (20251, 13))

In [221]:
tr[col].isnull().sum()

0

In [222]:
tr[col]=tr[col].astype('float64').astype('int64')

<ipython-input-222-1134cf8bd315>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tr[col]=tr[col].astype('float64').astype('int64')

In [223]:
tr.isnull().sum()

ID                         0
City_Code                  0
Region_Code                0
Accomodation_Type          0
Reco_Insurance_Type        0
Lower_Age                  0
Is_Spouse                  0
Health Indicator           0
Holding_Policy_Duration    0
Holding_Policy_Type        0
Reco_Policy_Cat            0
Reco_Policy_Premium        0
Response                   0
dtype: int64

In [224]:
X = tr.drop([col,'ID'],axis=1)
y = tr[col]
clf = GradientBoostingClassifier(n_estimators=150, learning_rate=0.1,max_depth=10, random_state=0).fit(X, y)
out = clf.predict(ts.drop([col,'ID'],axis=1))

In [225]:
ts[col]=out
con = pd.concat([tr,ts])
con.sort_values(by='ID',ascending=True)

<ipython-input-225-469da847486d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ts[col]=out

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,3,3213,1,0,36,0,0,15,3.0,22,9.361171,0
1,2,5,1117,0,1,22,0,1,15,3.0,22,10.325810,0
2,3,5,3732,0,0,32,0,0,1,1.0,19,8.915969,1
3,4,24,4378,0,1,48,0,0,15,3.0,19,9.785830,0
4,5,8,2190,1,0,44,0,1,3,1.0,16,9.249946,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50877,50878,4,845,1,0,22,0,2,2,3.0,18,8.949495,0
50878,50879,5,4188,1,0,27,0,2,7,3.0,4,8.595635,0
50879,50880,1,442,1,0,63,0,1,15,1.0,12,9.339085,0
50880,50881,1,4,0,1,49,0,1,2,2.0,16,10.246339,1
50881,50882,3,3866,1,0,24,0,2,2,3.0,18,9.343472,0

In [226]:
df[col]=con[col]

In [227]:
df.isnull().sum()

ID                         0
City_Code                  0
Region_Code                0
Accomodation_Type          0
Reco_Insurance_Type        0
Lower_Age                  0
Is_Spouse                  0
Health Indicator           0
Holding_Policy_Duration    0
Holding_Policy_Type        0
Reco_Policy_Cat            0
Reco_Policy_Premium        0
Response                   0
dtype: int64

In [228]:
df.to_csv('imputedtrain.csv',index=False)